<div>
            @{
                    <p>@ViewBag.createdUser.first_name Successfully Registered!</p>
                    <p>You are @ViewBag.Aged years young</p>
                    <p>Your email address is @ViewBag.email </p>
                }
        </div>
