.project1 img{
    width: 200px;
    height: 200px;
    margin-left: 80px;
}
.project2 img{
    width: 200px;
    height: 200px;
    margin-left: 80px;
}
.project3 img{
    width: 200px;
    height: 200px;
    margin-left: 80px;
}
h1{
    color: rgba(14, 5, 27, 0.81);
}
.project h3, p{
    width: 250px;
    text-align: center;
    margin-left: 70px;
}